.choice-button {
	padding: 1.5em;
	border-radius: 10em;
	border: solid 3px #ccc;
	height: 5em;
	width: 5em;
	display: inline-block;
	&:focus,
	&:active {
		border-color: #6c99ff;
	}
	margin-left: 1ch;
}
