// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;

$primary: $primary_color;
$link: $wisteria;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.notification {
	margin: 1em 0;
}

.select {
	display: block !important;
	width: 80%;
}

// modal dialog

.p-dialog {
	background: transparent !important;
	box-shadow: none;
	font-family: $title_font !important;
	max-width: $widescreen-width-main-column;
	box-sizing: border-box;

	.title {
		margin-top: 72px !important;
		margin-bottom: 1rem;
		@extend .is-3;
	}

	.p-dialog-header {
		color: $primary_color;
		padding: 1rem;
	}

	.p-dialog-content {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		padding: 0 1em;
	}

	.p-dialog-footer {
		border-bottom-left-radius: 8px !important;
		border-bottom-right-radius: 8px !important;
		padding: 1rem;

		button {
			margin-right: 0;
			margin-left: 1rem;
		}
	}
}

.cancel-button-reject {
	background: none;
	margin-right: -0.5rem;
	margin-top: 0.5rem;
	padding: 0.5rem !important;
	float: right;
}

.round-borders {
	border-radius: 1rem !important;
}

.img-marged-left {
	img {
		margin-left: 1rem;
	}
}

.img-marged-right {
	img {
		margin-right: 1rem;
	}
}

.button .icon:first-child:last-child,
button .icon:first-child:last-child,
.btn .icon:first-child:last-child {
	margin-left: 1rem;
	margin-right: auto;
}

.p-datepicker .p-datepicker-calendar td span,
.p-datepicker .p-datepicker-calendar .p-ripple {
	transition: outline ease 0.1s;
}

.p-button:focus,
.p-datepicker table td > span:focus,
.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
	//outline: 3px solid $outline-color !important;

	@extend .outlined;
}

.p-datepicker-buttonbar {
	.p-button.p-button-text {
		color: $primary-color;
		background: white;

		&:hover {
			color: $d-primary-intense;
			background: #f6f5fb;
			.p-button-label {
				color: $d-primary-intense;
				background: #f6f5fb;
			}
		}
	}
}
