<div class="static-page content">
	<article>
		<section class="hero is-info">
			<div class="hero-body">
				<p class="title">
					Mentions légales
				</p>
				<p class="subtitle">
					détail des mentions légales
				</p>
			</div>
		</section>
	</article>
</div>
